<div class=" container card">
    <div class="productTitle row">
        <img class="productManufacture col-md-3" src={{product.productManufacture}}>
        <div class="col-md-6"></div>
        <img class="productSeller col-md-3  right" src={{product.productSeller}}>
        <h5 class="">{{product.productName}}</h5>
    </div>

    <div class="productImage">
        <img src={{product.productImage}}>
    </div>
    
    <div class="productDescription">
        <p>{{product.productDescription}}</p>
        <p>{{product.productColor}}</p>
    </div>

    <div class="price row">
        <span class="newPrice col-5">₪{{product.newPrice}}</span>
        <span class="oldPrice col-5">₪{{product.oldPrice}}</span>
    </div>

    <div class="productAction">
        
        <mat-icon>favorite</mat-icon> 
        <mat-icon>shopping_cart</mat-icon>
        <mat-icon (click)="addProductToCompareList()">compare</mat-icon>
    </div>


</div>