<div class="container_card">
<div class="cardContent">
  <div class="cardHeader">
    <img class="Logo-img" src={{getBrandImage(product.brand)}} (click)="openFullView()">
    <img class="Logo-img" src="../../assets/imgs/sbitany_logo.png" (click)="openSellerView()">
  </div>

  <hr id="line">

  <div class="cardBody" (click)="openFullView()">
    <div>
      <img src="{{product.photoLink}}">
    </div>


    <p>{{product.description}}</p>

  </div>

  <div class="cardFooter">

    <div class="Actions">
      <div *ngIf="true"  class="AddToFavorite"><mat-icon (click)="addProductToFavoriteList()">favorite</mat-icon></div>
      <div *ngIf="false" class="AddedToFav"><mat-icon (click)="addProductToFavoriteList()">favorite</mat-icon></div>
      <div id="AddToCompare">  <mat-icon (click)="addProductToCompareList()" [matMenuTriggerFor]="compareMsg">compare</mat-icon></div>
      <mat-menu #compareMsg="matMenu">
        <span class="compareMsg">{{getCompareMsg()}}</span>
      </mat-menu>

    </div>
    <div class="price"(click)="openFullView()">
      <span *ngIf=" product.saleRatio != 0" class="oldPrice">₪{{product.price}}</span>
      <span *ngIf=" product.saleRatio != 0"  class="newPrice">₪{{getNewPrice(product.price ,
        product.saleRatio)}}</span>
      <span *ngIf=" product.saleRatio == 0" >₪{{product.price}}</span>
    </div>
  </div>

</div>

</div>
