.container_card {
  font-family: 'Tajawal', sans-serif;
  border-radius: 3px;
  height: 450px;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardContent{
  dispaly:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.container_card:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;}
.cardHeader{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  min-height:15px;

}
.cardHeader img {
 max-width:3.1rem;

}

.cardBody{
  display:flex;
  flex-direction:column;
  align-items:center;

}
.cardBody img{
  margin-top:10px;
  min-height:144px;
  max-width: 170px;
  max-height: 155px;
  margin-bottom: 20px;
}
.cardBody p {
  text-align: center;
  font-size:17px;
}

#line{
  width:305px;
  margin: 2px 0px 5px -5px;

}


.price{
  display:flex;
  flex-direction:column;
  gap:5px;
  color : black;
  font-size:18px;
  font-weight: bold;
}

.oldPrice{
  color: grey;
  text-decoration: line-through;
}

.newPrice{
  color: #9b1f1f;
}
.cardFooter{
  flex-shrink: 0;
  margin-top:30px;
  gap:20px;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.Actions{
  display:flex;
  flex-direction:row;
  gap:20px;
}
.mat-dialog-container{
  padding: 0px !important;

}
.AddToFavorite{
  width: 32px;
  border: 1px solid #9a9a9a;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center
}

.AddToFavorite :hover{
  color: #e00000;
}
.AddToFavorite mat-icon {
  color:#9a9a9a;
  font-size: 25px;
}

#AddToCompare{
  width: 32px;
  border: 1px solid #9a9a9a;
  cursor: pointer;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center
}
#AddToCompare mat-icon {
  color:#9a9a9a;
  font-size: 25px;
}

#AddToCompare :hover{
  color: #0404c0;

}
.compareMsg{
  color : black;
  font-size:medium;
  font-family: 'Tajawal', sans-serif;
  font-weight: bold;
}
