<h2 mat-dialog-title class="rules">Add New Product</h2>

<mat-dialog-content class="mat-typography">

    <form [formGroup]="addNewProductForm">

        <p>Please select the product Category:</p>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select>
                <mat-option *ngFor="let category of categoryList" [value]="category.id"
                    (click)="selectCategory(category.id)">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <p *ngIf="subCategoryList.length != 0">Please select the product sub-category:</p>
        <mat-form-field *ngIf="subCategoryList.length != 0" appearance="outline">
            <mat-label>SubCategory</mat-label>
            <mat-select>
                <mat-option *ngFor="let sub of subCategoryList" [value]="sub.id" (click)="selectSubCategory(sub.id)">
                    {{sub.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <p *ngIf="featureOfCategory.length != 0">Please enter the product feature:</p>
        <mat-form-field appearance="outline" *ngFor="let feature of featureOfCategory">
            <mat-label></mat-label>
            <input formControlName="houseSpace" matInput (focus)="false">
            <mat-icon matSuffix>house</mat-icon>
        </mat-form-field>


    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{'General.Cancel' | translate}}</button>
    <button mat-button mat-raised-button (click)="addNewProduct()">Add Product</button>
</mat-dialog-actions>