<div class="containter">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                   <h1>Admin</h1> 
                   <h6>Welcome to Admin Portal</h6>
                </div>
                <button  mat-button (click)="openPendingSeller()" class="actionButton"> New Seller Pending Requests</button>
                <button  mat-button (click)="openPendingProduct()"> New Products Pending Requests</button>
                <button  mat-button  (click)="backToShopper()" class="actionButton"> Log out</button>
            </div>
        </div>
    </div>
</div>





