<div class="layout-flex">
  <div class="title"><h1>{{product.product.name}}</h1></div>
  <div class="photo-properties-flex">

    <div class="product-brand-photos">

      <div class="brand-photo">
        <img src={{getBrandImage(product.product.brand)}}>
      </div>
      <div class="product-photo">
        <img src={{product.product.photoLink}}>
      </div>
    </div>

    <div class="properties-flex">


      <div class="property-flex">
        <div class="property-name">Dimensions</div>
        <div>{{product.product.dimensions}}</div>
        <hr>
      </div>
      <div class="property-flex">
        <div class="property-name">Color</div>
        <div>{{product.product.color}}</div>
        <hr>
      </div>
      <div class="property-flex">
        <div class="property-name">Weight</div>
        <div>{{product.product.weight}} kg</div>
        <hr>
      </div>
      <div class="property-flex">
        <div class="property-name">Warranty</div>
        <div>{{product.product.warranty}} year/s</div>
        <hr>
      </div>
      <div class="property-flex" *ngFor="let feature of specialFeatureList">
        <div *ngIf="getFeatureValue(feature.codeName)" class="property-name">{{feature.nameToShow}}</div>
        <div *ngIf="getFeatureValue(feature.codeName)">{{getFeatureValue(feature.codeName)}}</div>
        <hr *ngIf="getFeatureValue(feature.codeName)">
      </div>

    </div>

  </div>

</div>
