.layout-flex {
  font-family: 'Tajawal', sans-serif !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  border: 1.7px solid black;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title h1 {
  margin: auto;
  font-family: 'Tajawal', sans-serif !important;
  font-weight: bold;
}
.photo-properties-flex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width:100%;
  gap:15px;
  height:100%;

}
.product-brand-photos{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
}
.product-photo img {
  min-height: 200px;
  max-height: 300px;
  max-width:300px;
}
.brand-photo img{
  max-height: 80px;

}
.vl {
  border-left: 1px solid gray;
  height: 22rem;
}
.properties-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  width:100%;

}

.property-flex {
  display: flex;
  flex-direction: column;
  font-size: 15.5px;
  width:100%;

}

.property-name {
  font-weight: bold;
  font-size: 17px;

}
