<div class="layout-flex">
<div class="title"><h1>Seller Information</h1></div>
  <div class="photo-properties-flex">

    <div class="seller-photo">
      <img class="sellerImage" src={{getSellerImage()}}>
    </div>

    <div class="properties-flex">

      <div class="property-flex">
        <div class="property-name">Name</div>
        <div>{{seller.seller.name}}</div>
      </div>
      <hr>
      <div class="property-flex">
        <div class="property-name">Email</div>
        <div>{{seller.seller.email}}</div>
      </div>
      <hr>


      <div class="property-flex">
        <div class="property-name">Description</div>
        <div>{{seller.seller.description}}</div>
      </div>
      <hr>
      <div class="property-flex"
           *ngIf="seller.seller.customerServicePhoneNumber == null && seller.seller.contactPhoneNumber != null">
        <div class="property-name">Contact Number</div>
        <div>{{seller.seller.contactPhoneNumber}}</div>
      </div>

      <div class="property-flex" *ngIf="seller.seller.customerServicePhoneNumber != null ">
        <div class="property-name">Contact Number</div>
        <div>{{seller.seller.customerServicePhoneNumber}}</div>
      </div>
      <hr>
      <div class="property-flex" *ngIf="seller.seller.socialMediaLink != null ">
        <div class="property-name">Social Media Link</div>
        <div>{{seller.seller.socialMediaLink}}</div>
        <hr>
      </div>

      <div class="property-flex" *ngIf="seller.seller.websiteLink != null ">
        <div class="property-name">Website Link</div>
        <div>{{seller.seller.websiteLink}}</div>
        <hr>

      </div>


      <div class="property-flex" *ngIf="seller.seller.address != null ">
        <div class="property-name">Address</div>
        <div>{{seller.seller.address}}</div>
        <hr>

      </div>
    </div>

  </div>

</div>
