.layout-flex {
  font-family: 'Tajawal', sans-serif !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  border: 1.7px solid black;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title h1 {
  margin: auto;
  font-family: 'Tajawal', sans-serif !important;
  font-weight: bold;
}
.photo-properties-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  gap:15px;

}
.seller-photo img {
  min-height: 200px;
  max-height: 350px;
}

.properties-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  width:100%;

}

.property-flex {
  display: flex;
  flex-direction: column;
  font-size: 15.5px;
  width:100%;

}

.property-name {
  font-weight: bold;
  font-size: 17px;

}
