<p>
  <mat-toolbar class="mat-elevation-z8">

    <!-- <a class="ApplicationLogo">
        <img style="width: 200px; height: 100px;" src="../../assets/imgs/logo1.png">
      </a> -->
    <span routerLink="" style="font-family: 'Tajawal', sans-serif; margin-left: 0; ">Waffer E-Commerce Application</span>

    <div class="example-spacer"></div>

    <a (click)="openCustomizedPackageDialog()" mat-button>
      <mat-icon>create</mat-icon>{{'Menu.CustomizedPackage' | translate}}
    </a>

    <a mat-button routerLink="maintence">
      <mat-icon>engineering</mat-icon> {{'Menu.Maintenance' | translate}}
    </a>

    <a mat-button [matMenuTriggerFor]="Categories"><mat-icon>devices</mat-icon> {{'Menu.BestPackagePrice' | translate}}</a>
    <mat-menu #Categories="matMenu">
      <button [matMenuTriggerFor]="subcategory" mat-menu-item on-mouseover="getSubCategory(category.id)" (click)="getSubCategory(category.id)"  *ngFor="let category of categoryList">{{category.name}}</button>
    </mat-menu>

    <mat-menu #subcategory = "matMenu">
      <button (click)="getProductBySubCategoryId(subCategory.id)" *ngFor="let subCategory of subCategoryList" mat-menu-item>{{subCategory.name}}</button>
    </mat-menu>

    <span class="example-spacer"></span>
    <button (click)="getFavoriteList()" mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="favoriteMenu" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge={{favoriteProductList.length}} matBadgeColor="warn" matBadgeSize="small">favorite</mat-icon>
    </button>
    <mat-menu #favoriteMenu="matMenu">

      <div class="actionTitle">Favorite List</div>
      <!-- ng Repeat for Items to compare -->
      <ng-container *ngFor="let product of favoriteProductList">
        <div class="product">
          <div><a class="test"><img class="productImage" src={{product.photoLink}}></a></div>
          <div class="productDescription">
            <div class="test2">
              <p style="flex-grow: 1;">{{product.name}}</p>
              <div (click)="deleteProductFromFavoriteList(product.id)">
                <mat-icon style="color: var(--primary-color);">delete</mat-icon>
              </div>
            </div>
            <a>{{product.description}}</a>
            <br>
            <a style="color: red; font-weight: bold;">₪{{product.price}}</a>
          </div>
        </div>
      </ng-container>
      <div role="alert" class="p-message p-message-warn" *ngIf="favoriteProductList.length == 0">
        <div class="p-message-wrapper">
          <mat-icon class="p-message-icon">report_problem</mat-icon>
          <span class="p-message-summary">{{'General.Warning' | translate}}</span>
          <span class="p-message-detail">No Products in favorite list</span>
        </div>
      </div>
    </mat-menu>


    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matBadge="7" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
    </button>

    <!-- Compare Items -->
    <button (click)="getCompareList()" [matMenuTriggerFor]="compareMenu" class="example-icon">
      <mat-icon matBadge={{compareProductList.length}} matBadgeColor="warn" matBadgeSize="small">compare</mat-icon>
    </button>
    <mat-menu #compareMenu="matMenu">

      <div class="actionTitle">{{'CompareProducts.Title' | translate}}</div>
      <!-- ng Repeat for Items to compare -->
      <ng-container *ngFor="let product of compareProductList">
        <div class="product">
          <div><a class="test"><img class="productImage" src={{product.photoLink}}></a></div>
          <div class="productDescription">
            <div class="test2">
              <p style="flex-grow: 1;">{{product.name}}</p>
              <div (click)="deleteProductFromCompareList(product.id)">
                <mat-icon style="color: var(--primary-color);">delete</mat-icon>
              </div>
            </div>
            <a>{{product.description}}</a>
            <br>
            <a style="color: red; font-weight: bold;">₪{{product.price}}</a>
          </div>
        </div>
      </ng-container>
      <!-- ng-If we have more than 2 products to compare -->
      <button *ngIf=" compareProductList.length > 1" mat-button class="actionButton" routerLink="comparePage">{{'CompareProducts.GoToComparePageButton' |
        translate}}</button>

      <!-- <-- Choose At least two products to compare -->
      <div role="alert" class="p-message p-message-warn" *ngIf="compareProductList.length < 2">
        <div class="p-message-wrapper">
          <mat-icon class="p-message-icon">report_problem</mat-icon>
          <span class="p-message-summary">{{'General.Warning' | translate}}</span>
          <span class="p-message-detail">{{'CompareProducts.WarningAtleastTwoProducts' | translate}}</span>
        </div>
      </div>
    </mat-menu>

    <div class="example-spacer"></div>

    <a mat-raised-button (click)="openLoginSignInDialog()">{{'Menu.Login' | translate}}</a>
    <a mat-button (click)="openNewSellerDialog()">{{'Menu.RegisterNewSeller' | translate}}</a>

    <div class="example-spacer"></div>

    <mat-icon>language</mat-icon>
    <mat-form-field>
      <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event.value)">
        <mat-option *ngFor="let language of languages" [value]="language">{{language}} </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</p>
