.example-form {
    min-width: 150px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    background:#ffffff;
    margin-top:22px;
}

.example-full-width {
    width: 100%;
    border-radius: 3px;
  background:#ffffff;

}

.searchBarInput{
    font-size:20px;
    font-family: 'Tajawal', sans-serif;

}


.mat-icon{
    color: var(--primary-color);
    transform: scale(1.5);

}

::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible {
  visibility: visible;
  width: 500px;
  z-index:0;
}






.menu{
  z-index:1;
}


