<div class="login-page">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
            <mat-card-content>
                <form [formGroup]="SignInForm" action="">
                    <mat-form-field>
                        <input matInput formControlName ="userEmail" placeholder="Email"  name="email">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error>
                            Email is required  
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput  formControlName ="userPassword" placeholder="Password" type="password" required minlength="6" name="password">
                        <mat-error>
                            Password is required
                        </mat-error>
                        <mat-error>
                            Password must be of length 6
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <mat-checkbox>Remember Me!</mat-checkbox>
                    <button mat-raised-button class="login-button" (click)="signIn()">
                        Sign In
                    </button>
                </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Sign Up">
            <mat-card-content>
                <form action="" [formGroup]="SignUpForm" >
                    <mat-form-field>
                        <input matInput formControlName ="userName" placeholder="User Name" required name="username">
                        <mat-icon matSuffix>perm_identity</mat-icon>
                        <mat-error>
                            Username is required
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName ="userEmail" placeholder="Email" required name="email">
                        <mat-error >Email is required</mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName ="userPassword" placeholder="Password" type="password" required minlength="6" name="password">
                        <mat-error>
                            Password is required
                        </mat-error>
                        <mat-error>
                            Password must be of length 6
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Re-Enter Password" type="password" required minlength="6"
                            name="repassword" [formControl]="reEnterPassword" >
                        <mat-error>
                            Re-Enter Password is required
                        </mat-error>
                        <!-- <mat-error *ngIf= true>{{getReEnterPasswordCheck()}}</mat-error> -->
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button class="login-button" (click)="signUp()">
                        Sign Up
                    </button>
                </form>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>

</div>