<div class="containter">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                   <h1>Seller</h1> 
                   <h6>Welcome to Seller Portal</h6>
                </div>
                <button  mat-button (click)="openAddNewProduct()"> Add New Product</button>
                <button  mat-button  (click)="backToShopper()" class="actionButton"> Log out</button>
            </div>
        </div>
    </div>
</div>






