<div class="actionTitle">Pending Product</div>
<ng-container *ngFor="let request of pendingProductList">
    <div class="product">
        <div><a class="test"><img class="productImage" src={{request.photoLink}}></a></div>
        <div class="productDescription">
            <div class="test2">
                <p style="flex-grow: 1;">{{request.name}}</p>
                <div>
                    <mat-icon (click)="acceptProduct(request.id)" style="color: green;">done</mat-icon>
                    <mat-icon (click)="declineProduct(request.id)"style="color: red; ">clear</mat-icon>
                </div>
            </div>
            <a>{{request.description}}</a>
            <br>
            <a style="color: red; font-weight: bold;">{{request.price}}</a>
        </div>
    </div>
</ng-container>